a { font: 13px Arial;
    color: #933300;
    text-decoration: none; }

a.header {font-weight: bold;}

a:hover {text-decoration: underline;}

body { background-color: white;
       font: 12px Arial;
       margin: 50px 50px 50px 50px; }

h2 { font: bold 13px Arial;}

h3 { font: bold 12px Arial;
     color: #003366;}

table, th, td {
    border: 1px solid black;
}

td {font: 13px Arial;}

ul {line-height:150%}

p {line-height:150%}
